.container-fluid {
    max-width: 1200px;

}


.caption ul {
    list-style: none;
}



.footer {
    margin-top: 50px;

}

.background {
    background-color: rgb(223, 230, 255);
}


.caption ul li {
    overflow: hidden;
    margin-bottom: 2%;
}

.caption p {
    text-align: justify-all;
}

.judul-widget a:hover {
    text-decoration: none;
}

.card-body a {
    color: black;
}

/*
.gambar-widget img {
    width: 40%;
    float: left;
    margin-right: 3%;
}*/
/*
.widget-artikel {
    overflow: hidden;
}


.detail-artikel p img {
    width: 250px;
    float: left;
    margin: 0 1% 1% 0;
}

*/

.text-center {
    padding-top: 40px;
    padding-bottom: 40px;
}

.gambar-portfolio-terbaru img {
    width: 40%;
    float: left;
    margin-right: 2%;
}


.widget-portfolio-terbaru ul {
    list-style: none;
}

.widget-portfolio-terbaru ul li {
    overflow: hidden;
    margin-bottom: 4%;
}


.judul-portoflio-terbaru a {
    text-decoration: none;
    color: black;
}